CS/Ch12_ADO.NET/WSClient/Web References/Primes/Primes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFloorPrime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Target" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFloorPrimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFloorPrimeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetFloorPrimeSoapIn">
    <part name="parameters" element="s0:GetFloorPrime" />
  </message>
  <message name="GetFloorPrimeSoapOut">
    <part name="parameters" element="s0:GetFloorPrimeResponse" />
  </message>
  <portType name="PrimesSoap">
    <operation name="GetFloorPrime">
      <input message="s0:GetFloorPrimeSoapIn" />
      <output message="s0:GetFloorPrimeSoapOut" />
    </operation>
  </portType>
  <binding name="PrimesSoap" type="s0:PrimesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetFloorPrime">
      <soap:operation soapAction="http://tempuri.org/GetFloorPrime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Primes">
    <port name="PrimesSoap" binding="s0:PrimesSoap">
      <soap:address location="http://207.202.168.30/WSService/Primes.asmx" />
    </port>
  </service>
</definitions>